<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spg.dao.UserMapper">
    <insert id="insertOne">
        insert into
        `user` (openid ,hash ,app_name ,app_picture_url)
        values (#{user.openid} ,#{user.hash} ,#{user.appName} ,#{user.appPictureUrl})
    </insert>
    <update id="updateUser">
        update
        `user`
        set
        hash=#{user.hash},
        refresh_token=#{user.refreshToken},
        access_token=#{user.accessToken}
        where
        openid=#{openid}
    </update>


    <select id="findByOpenid" resultType="com.spg.domin.User">
        select
        id id,
        openid openid,
        hash hash,
        app_name appName,
        app_picture_url appPictureUrl
        from
        `user`
        where
        openid=#{openid}
    </select>
</mapper>