<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spg.dao.UserMapper">


    <select id="findByOpenid" resultType="com.spg.domin.User">
        select
        id id,
        openid openid,
        hash hash,
        app_name appName,
        app_picture_url appPictureUrl
        from
        `user`
        where
        openid=#{openid}
    </select>
</mapper>